*
{
box-sizing: border-box;
}
body{
	margin: 0;
	padding: 0;
}
.container{
	display: flex;
height: 100vh;
   }
.leftside
{
	flex-basis:60% ;
}
.rightside
{
	justify-items: center;
	background-color: lightblue;
	align-self:stretch;
flex-basis: 40%;
align-content: center;
align-items: center;
row-gap: 20px;

}
.lgbtn
{
	height: 40px;
	border: 0;
	margin-top: 20px;
	background-color: deepskyblue;
	width:20rem;
	color: white;
	border-radius: 8px;
}
input
{
	border:1px black solid;
	opacity: 0.7;
	padding: 20px;
	border-radius: 5px;
	width: 20rem;

}
input:focus
{
	border:1px grey solid;
	outline: none;
	border-radius: 5px;
}
